.superDivSignup{
   background-image: url("login\ background.jpeg");
   /* background-color: black; */
   position: fixed; /* Keeps the image fixed in place */
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   
   background-size: cover; /* Ensures the image covers the entire area */
   background-position: center; /* Centers the image */
   background-repeat: no-repeat; /* Prevents image repetition */
   z-index: -1; /* Ensures the image is behind other content */
}
.card-body{
    /* background-color: black; */
    background-image: url("login\ background.jpeg");
    color: white;
}